body {
  background-color: rgba(6, 23, 30, 1);
}

.header {
  height: 72px;
  width: 100%;
  background-color: var(--background-color);

  .logo {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    #fotogram-icon {
      display: flex;
      align-items: center;
      height: 30px;
      width: 31px;
    }

    #fotogram-font {
      display: flex;
      align-items: center;
      height: auto;
      width: 130px;
    }
  }
}

.headline-gallery {
  width: 100%;
  height: 100%;
  padding: 48px 0 48px 0;
}

.gallery-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  .headline {
    height: auto;
    width: auto;
  
    h1 {
      font-size: 42px;
      font-weight: 800;
      color: rgba(255, 255, 255, 1);
      text-align: center;
    }
  }

  #img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;


    img{
      height: 130px;
      width: 130px;
      object-fit: cover;
      border-radius: 16px;
      border: 2px solid rgba(18, 70, 88, 1);
      cursor: pointer;
    }

    img:hover{
      border: 2px solid rgba(107, 193, 225, 1);
    }
  }

}


.footer-wrapper {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  .da {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 6px;

    #da-logo {
      height: auto;
      width: 28px;
    }

    #da-font {
      height: auto;
      width: 65px;
    }
  }

  .impressum {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 12px;
      height: auto;
    }

    p {
      font-size: 400;
      color: rgba(98, 123, 132, 1);
    }
  }
}
